# Логи и временные файлы
*.log
*.txt
*.pid
*.bak
*.tmp_bak
smart_unblock_db.json
clients_db.json
tor_bridges.json
updater_state.json
traffic_db.json
dpi_settings.json
app_mode.json
test_dpi.js
clients_rules.yaml
config.yaml
rules/clients_*.yaml

# Системные папки
node_modules/
proxy_providers/
.idea/
.vscode/
.DS_Store
Thumbs.db
